{% block content %}
    <div class="accordion">
        {%for spell in character.spells%}
        <div class="accordion-item border border-info m-3">
            <label>
                 Prepared:
                <input 
                type="checkbox" 
                class="form-check-input"
                {%if spell.level == 0%}
                checked
                {%endif%}
                >
            </label>
            <h5 class="accordion-header" id="panelsStayOpen-heading{{forloop.index0}}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{forloop.index0}}" aria-expanded="true" aria-controls="panelsStayOpen-collapse{{forloop.index0}}">
                    <div class="d-flex flex-row">
                        <h6>{{spell.name}} Level: {{spell.level}}</h6>
                    </div>
                  </button>
            </h5>
            <div id="panelsStayOpen-collapse{{forloop.index0}}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{forloop.index0}}">
                <div class="accordion-body">

                    <p>Range: {{spell.range}}, Components: {{spell.components}}, {%if spell.material.length > 0%} Materials: {{spell.material}} {%endif%}</p>
                    <p>Level: {{spell.level}}, Casting Time: {{spell.casting_time}}, Concentration: {%if spell.concentration%} Yes {%else%} No {%endif%}</p>
                    <p>{{spell.desc}}</p>
                    <p>{{spell.higher_level}}</p>
                    <form action="/characters/">

                </form>
                    <div class="d-flex justify-content-between">
                        <form action="/characters/{{character.id}}/{{spell.id}}/remove?_method=PUT" method="POST">
                            <input type="submit" value="Remove from spellbook">
                        </form>
                    </div> 
                  
                </div>
              </div>
        </div>
        {%endfor%}
    </div>
{%endblock%}