{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h5>Name: {{spell.name}} Level: {{spell.level}}</h5>
            <p>{{spell.desc}}</p>    
            <div class="d-flex justify-content-between">
                <!-- <form action="/comments/delete/{{fruit.id}}/{{comment.id}}?_method=DELETE" method="Post">
                    <input type="submit" value="X">
                </form> -->
            </div> 
        </div>

    </div>
{%endblock%}