{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            <h5>Name: {{spell.name}} Level: {{spell.level}}</h5>
            <p>{{spell.desc}}</p>
            <label>
                Prepared:
                <input 
                type="checkbox" 
                class="form-check-input"
                >
            </label>
            <div class="d-flex justify-content-between">
                <form action="/characters/{{character.id}}/{{spell.id}}/remove?_method=PUT" method="POST">
                    <input type="submit" value="Remove from spellbook">
                </form>
            </div> 
        </div>

    </div>
{%endblock%}