
{% layout 'layout.liquid'%}
{% block content%}
    <div class="container-md">
        <form action="/spells/{{characterId}}/{{spell.id}}?_method=PUT" method="POST">
            <fieldset>
                <legend>Edit Spell</legend>
                <div class="row mb-3">
                    <div class="col">
                        <label class="form-label">
                            Name: 
                            <input
                                class="form-control"
                                type="text"
                                name="name"
                                placeholder="spell name"
                                value="{{spell.name}}"
                            >
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Description: 
                            <input
                                class="form-control"
                                type="text"
                                name="desc"
                                placeholder="spell description"
                                value="{{spell.desc}}"
                            >
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>
                            Higer level effects: 
                            <input
                                class="form-control"
                                type="text"
                                name="higher_level"
                                placeholder="higher level effects (if any)"
                                value="{{spell.higher_level}}"
                            >
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Range: 
                            <input
                                class="form-control"
                                type="text"
                                name="range"
                                placeholder="spell range"
                                value={{spell.range}}
                            >
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>
                            Components: 
                            <input
                                class="form-control"
                                type="text"
                                name="components"
                                placeholder="spell components"
                                value="{{spell.components}}"
                            >
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Materials: 
                            <input
                                class="form-control"
                                type="text"
                                name="material"
                                placeholder="spell materials if any"
                                value="{{spell.material}}"
                            >
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>
                            Duration: 
                            <input
                                class="form-control"
                                type="text"
                                name="duration"
                                placeholder="spell duration"
                                value="{{spell.duration}}"
                            >
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Casting time: 
                            <input
                                class="form-control"
                                type="text"
                                name="casting_time"
                                placeholder="spell casting time"
                                value="{{spell.casting_time}}"
                            >
                        </label>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label>
                            Level: 
                            <input
                                class="form-control"
                                type="number"
                                name="level"
                                placeholder="spell level"
                                value={{spell.level}}
                            >
                        </label>
                    </div>
                    <div class="col">
                        <label>
                            Classes: 
                            <input
                                class="form-control"
                                type="text"
                                name="classes"
                                placeholder="{{spell.classes}}"
                                minlength="4"
                            >
                        </label>
                    </div>
                </div>
                <label>
                    Concentration:
                    <input 
                    type="checkbox" 
                    name="concentration"
                    class="form-check-input"
                    {%if spell.concentration%}
                    checked
                    {%endif%}
                    >
                </label>
            </fieldset>
            <input 
                type="submit" 
                value="Edit Spell"
                class="btn btn-success"
            >
        </form>
    </div>


{%endblock%}