{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        {%if spells.length >0%}<h1>{{character.class}} Spells:</h1>{%endif%}
        <a href="/characters/{{character.id}}" class="btn btn-primary m-2">Back to {{character.name}}</a>
        <ul class="list-group list-group-flush mb-2">
        {%for spell in spells%}
            <li class="list-group-item">
                <a href="/spells/{{character.id}}/{{spell.index}}" class="link-dark">{{spell.name}}</a>
            </li>
        {%endfor%}
        </ul>
        <h1>Custom {{character.class}} Spells: </h1>
        <a href="/spells/new" class="btn btn-success mb-2">Create New Spell</a>
        <ul class="list-group list-group-flush mb-3">
        {%for spell in customSpells%}
        <li class="list-group-item">
            <a href="/spells/{{character.id}}/{{spell.id}}">{{spell.name}} Level: {{spell.level}}</a>
        </li>
    {%endfor%}
        </ul>
    </div>
{%endblock%}