{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <h1>Spells</h1>
        <a href="/characters/{{character.id}}">Back to character</a>
        <ul>
        {%for spell in spells%}
            <li>
                <a href="/spells/{{character.id}}/{{spell.index}}">{{spell.name}}</a>
            </li>
        {%endfor%}
        <h1>Custom Spells: </h1>
        <a href="/spells/new">Create New Spell</a>
        {%for spell in customSpells%}
        <li>
            <a href="/spells/{{character.id}}/{{spell.id}}">{{spell.name}}</a>
        </li>
    {%endfor%}
        </ul>
    </div>
{%endblock%}