{% layout 'layout.liquid' %}
{% block content %}
    <h1>{{spell.name}}</h1>
    <p>Range: {{spell.range}}, Components: {{spell.components}}, {%if spell.material.length > 0%} Materials: {{spell.material}} {%endif%}</p>
    <p>Level: {{spell.level}}, Casting Time: {{spell.casting_time}}, Concentration: {%if spell.concentration%} Yes {%else%} No {%endif%}</p>
    <p>{{spell.desc}}</p>
    {%if spell.higher_level.length > 0%}
    <p>At higher levels: {{spell.higher_level}}</p>
    {%endif%}
    {% if spell.owner == userId %}
    <div class="btn-group">

        <a href="/spells/{{characterId}}/{{spell.id}}/edit" class="btn btn-primary">Edit</a>
        <form action="/spells/{{ characterId }}/{{spell.id}}?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    </div>
    {% endif %}
    <a href="/spells/{{characterId}}">Back to spells</a>
{%endblock%}