{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/characters/{{character.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Character</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="{{ character.name }}"
                value="{{ character.name }}"
                class="form-control mb-3"
                required
            >
            <label class="form-label">Class:</label>
            <select class="form-select mb-3" aria-label="Default select example" name="class">
                <option selected>{{character.class}}</option>
                <option value="1">Bard</option>
                <option value="2">Cleric</option>
                <option value="3">Druid</option>
                <option value="4">Paladin</option>
                <option value="5">Ranger</option>
                <option value="6">Sorceror</option>
                <option value="7">Warlock</option>
                <option value="8">Wizard</option>
              </select>
            <label class="form-label">Level:</label>
            <input 
                type="number" 
                name="level"
                value={{ character.level }}
                min="1"
                class="form-control mb-3"
                required
            >
        </fieldset>
        <input type="submit" value="Edit Character" class="btn btn-success">
    </form>
</div>
{% endblock %}