{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/characters/{{character.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Character</legend>
            <label class="form-label">Name: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="{{ character.name }}"
                value="{{ character.name }}"
                class="form-control"
            >
            <label class="form-label">Class:</label>
            <input 
                type="text" 
                name="class" 
                placeholder="{{ character.class }}" 
                value="{{ character.class }}" 
                class="form-control"
            >
            <label class="form-label">Level:</label>
            <input 
                type="number" 
                name="level"
                value="{{ character.level }}"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Edit Example" class="btn btn-success">
    </form>
</div>
{% endblock %}