{% layout 'layout.liquid'%}
{% block content %}
<div class="container-md">
    <h2 class="display-6">Characters</h2>
    <div class="row">
        {% for character in characters %}
        <div class="card m-1" style="width: 18rem;">
            <h5 class="card-header" {%if character.class == "Bard"%} style="background-color: pink;" {%elsif character.class == "Cleric"%} style="background-color: lightgoldenrodyellow;" {%elsif character.class == "Druid"%} style="background-color: peru;" {%elsif character.class == "Palladin"%} style="background-color: gold;" {%elsif character.class == "Ranger"%} style="background-color: forestgreen;" {%elsif character.class == "Sorcerer"%} style="background-color: indianred;" {%elsif character.class == "Warlock"%} style="background-color: orchid;" {%elsif character.class == "Wizard"%} style="background-color: steelblue;" {%endif%}>
                {{ character.name }}
            </h5>
            <div class="card-body">
                <h5 class="card-title">
                    Class: {{ character.class }}
                </h5>
                <p class="card-text">
                    Level: {{ character.level }}
                </p>
                <a href="/characters/{{ character.id }}" class="btn btn-info">
                    View {{ character.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}