{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h1>
            {{ character.name }}
        </h1>
        <h3>Class: {{ character.class }}</h3>
        <h6>Level: {{ character.level }}</h6>
        <a href="/spells/{{character.id}}" class="btn btn-primary">View Class Spells</a>
        <a href="/spells/{{character.id}}/mine" class="btn btn-secondary">Show my custom spells</a>
        {% if character.owner == userId %}
            <a href="/characters/{{ character.id }}/edit" class="btn btn-warning">Edit Character</a>
            <div class="btn-group">
                <form action="/characters/{{ character.id }}?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Character" class="btn btn-danger">
                </form>
            </div>
        {% endif %}
        {%if character.spells.length > 0%}
            <div class="container m-3">
                <h4>
                    {{character.name}}'s Spells:
                </h4>

                        {%render '../spell.liquid', character: character, userId: userId%}

            </div>
        {%elsif character.spells.length == 0%}
            <div class="container m-3">
                <h4>Check out your class spells and add some to your spellbook!</h4>
            </div>
        {%endif%}

    </article>
</div>
{% endblock %}